@import '../../style/utils';

.Footer {
  box-sizing: border-box;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    height: 1px;
    width: 100%;
    background-color: $color-elements;
  }

  &__Content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    box-sizing: border-box;
    padding-top: 1rem;
    padding-bottom: 1rem;

    @media screen and (max-width: $screen-extra-small) {
      justify-content: flex-end;
    }
  }

  &__Link {
    position: relative;
    display: inline-grid;
    grid-auto-flow: column;
    gap: 1rem;
    align-items: center;
    color: $color-secondary;
    text-decoration: none;

    @media screen and (max-width: $screen-extra-small) {
      margin-bottom: 1rem;
    }
  }
}
